.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

input { 
  
  padding: 10px;
  margin-bottom: 30px;
  width: 250px;
  border: 2px solid #6d6d6d;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

.lista-paises {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.pais-card {
  border: 1px solid #939393;
  border-radius: 10px;
  padding: 15px;
  background-color: #ffffff;
}

.pais-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


